base: exps/trte_deno/base.cfg
learning: exps/trte_deno/learning.cfg
chkpt_root: "./output/deno/train/checkpoints"
mesh:
  # -- Estimate of Expectation superpixel --
  # listed0:
  #   spa_version:
  #   # - "expectation"
  #   - "expectation"
  #   - "expectation"
  #   topk:
  #   # - 1296
  #   # - 500
  #   - 32
  #   - 100
  #   nat_ksize:
  #   # - -1
  #   - -1
  #   - -1
  # listed2:
  #   block_num:
  #   - 1
  #   stoken_size:
  #   - 12
  # listed10:
  #   nepochs:
  #   - 50
  #   sigma:
  #   - 25
  #   decays:
  #   -
  #     - 30
  # -- exact MLE superpixel --
  # listed0:
  #   spa_version:
  #   - "exact"
  #   - "exact"
  #   - "exact"
  #   topk:
  #   - 1296
  #   - 100
  #   - 32
  #   nat_ksize:
  #   - -1
  #   - -1
  #   - -1
  # listed2:
  #   block_num:
  #   - 1
  #   stoken_size:
  #   - 12
  # listed10:
  #   nepochs:
  #   - 50
  #   sigma:
  #   - 25
  #   decays:
  #   -
  #     - 30
  #
  # listed0:
  #   spa_version:
  #   - "flex"
  #   - "flex"
  #   - "flex"
  #   - "flex"
  #   - "flex"
  #   - "flex"
  #   topk:
  #   - 64
  #   - 64
  #   - 64
  #   - 64
  #   - 64
  #   - 64
  #   spa2_kweight:
  #   - false
  #   - true
  #   - false
  #   - true
  #   - false
  #   - true
  #   spa2_normz:
  #   - "default"
  #   - "default"    
  #   - "ones"
  #   - "ones"    
  #   - false
  #   - false
  # listed10:
  #   nepochs:
  #   - 100
  #   sigma:
  #   - 50
  #   decays:
  #   -
  #     - 50
  # -- Various Approx of Expectation or MLE --
  listed0:
    spa_version:
    - "sampled"
    # - "expectation"
    # - "easpa"
    # - "aspa"
    # - "espa"
    # - "easpa"
    # - "aspa"
    # - "nat"
    # - "conv"
    topk:
    # - 501
    - 576
    # - 34
    # - 32
    # - 32
    # - -1
    # - 64
    # - 64
    # - -1
    # - -1
    nat_ksize:
    - -1
    # - -1
    # - -1
    # - -1
    # - -1
    # - -1
    # - 9
    # - -1
  listed2:
    block_num:
    - 1
    stoken_size:
    - 8
  listed10:
    nepochs:
    - 50
    sigma:
    - 25
    decays:
    -
      - 30

